<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rorthanc.job</string>
    <key>ProgramArguments</key>
    <array>
	<string>/usr/local/bin/rorthanc.sh</string>
</array>
	<key>StandardOutPath</key> 
	<string>/Users/admin/rorthanc.stdout</string>
	<key>StandardErrorPath</key>
	<string>/Users/admin/rorthanc.error</string>
	<key>StartCalendarInterval</key>
    	<dict>
        	<key>Hour</key>
       		<integer>6</integer>
        	<key>Minute</key>
        	<integer>50</integer>
    	</dict>
</dict>
</plist>
